<div class="row">
  <h1>Listing pricey Teas</h1>
</div>

<div class="row" ng-controller="MainCtrl as main">
  <div class="card-columns">

    <div class="col-sm-4" ng-repeat="tea in main.teas track by $index" >
      <div class="card">
        <div class="card-header">
          Price: {{tea.price}}
          <i class="fa fa-usd"></i>
        </div>

        <img ng-if="tea.image" alt="{{tea.name}}" class="img-fluid" ng-src="{{tea.image}}">

        <div class="card-block">
          <h4 class="card-title">{{tea.name}}</h4>
          <p class="card-text">{{tea.description}}</p>
        </div>
        <div class="card-block">
          <a class="card-link" ng-href="{{tea.link}}">Details</a>
        </div>
      </div>
    </div>

  </div>
</div>
