<div class="row" ng-controller="TeasCtrl as teas">

  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group">
        <label for="query">Name</label>
        <input id="query" class="form-control" ng-model="query" type="text" placeholder="Filter by" autofocus>
      </div>

      <fieldset class="form-group">
        <label for="order">Order By</label>

        <select id="order" class="c-select" ng-model="orderList">
          <option selected disabled value="">Order By</option>
          <option value="name">By name</option>
          <option value="price">Cheap first</option>
          <option value="-price">Expensive first</option>
          <option value="description">By description</option>
        </select>

        <div class="form-group">
          <label class="c-input c-checkbox">
            <input type="checkbox" ng-model="isTable">
            <span class="c-indicator"></span>
            Render Table
          </label>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-md-12">

    <table class="table" ng-if="isTable">
      <thead>
        <th>
          <span>#</span>
        </th>
        <th>
          <span>Name</span>
        </th>
        <th>
          <span>Price</span>
          <i class="fa fa-usd"></i>
        </th>
        <th>
          <span>Description</span>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="tea in teas.teas | filter:query | orderBy: orderList">
          <th scope="row">{{tea.id}}</th>
          <td>{{tea.name}}</td>
          <td>{{tea.price | currency}}</td>
          <td>{{tea.description}}</td>
        </tr>
      </tbody>
    </table>

    <div class="card-columns" ng-if="!isTable">
      <div class="card" ng-repeat="tea in teas.teas | filter:query | orderBy: orderList">
        <div class="card-header">
          <span>Price:</span>
          <span class="label label-pill label-primary">{{tea.price | currency}}</span>
          <i class="fa fa-coffee"></i>
        </div>

        <img ng-if="tea.image" alt="{{tea.name}}" class="img-fluid" ng-src="{{tea.image}}">

        <div class="card-block">
          <h4 class="card-title">{{tea.name}}</h4>
          <p class="card-text">{{tea.description}}</p>
        </div>
        <div class="card-block">
          <a class="card-link" ng-href="#/teas/{{tea.id}}">Details</a>
          <a class="card-link" ng-href="{{tea.link}}">Details Ext</a>
          <ngcart-addtocart id="{{tea.id}}" data="tea" name="{{tea.name}}" price="{{tea.price}}" quantity="1" quantity-max="5"><i class="fa fa-cart-plus"></i> Add to Cart</ngcart-addtocart>
        </div>
      </div>
    </div>
  </div>
</div>
